@charset "UTF-8";
body{
  background-color: white;
}
H1{
  font-family: 'Orbitron', sans-serif;
}
H2{
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
}
header{
  padding: 10px;
  text-align: center;
  background-color: #212121;
}
section{
  padding:10px;
  background-color: #0097A7;
}
aside{
  padding:10px;
  background-color: #CDDC3D;
}
footer{
  padding: 10px;
  text-align: center;
  background-color: #212121;
}
